# App
APP_NAME=The Stable
ENVIRONMENT=development
DEBUG=true

# Security
SECRET_KEY=f0b81f3f-3c21-4b54-9e40-b1034ae0620b
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=thestable
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://user:password@localhost:5432/thestable

# CORS
FRONTEND_ORIGIN=http://localhost:3000
